<h1>User Menu</h1>

<li>Current User is ==>   <%= @current_user.username %>     |     
<%= button_to "Sign-out", destroy_user_session_path, method: :delete %></li><br>

Take me to => <%= link_to "My Games", games_path %>

<br>

<%= link_to 'Back', :back %> <br>
<p><%= button_to "Cancel my account", user_path(@current_user), data: { confirm: "Are you sure?" }, method: :delete, notice: 'User Account Deleted.' %></p>