<hr>

This is the gameboard partial for 
<%= game.id %>
<hr>

Red Player: <%= game.red_player.try(:username) %>
Black Player: <%= game.black_player.try(:username) %>

<h4>Gameboard:</h4>
<div class="game-board">
<% rowindex = 0 %>

<% game.board.each do |row| %>
  <% columnindex = 0 %>

  <% row.each do |col| %>
    <% if col != nil %>
    <%= col %>
    <% else %>
    <%= link_to "X", move_game_path(game, :col => columnindex) %>
    <% end %>
    <% columnindex = columnindex + 1 %>
  <% end %>

  <% rowindex = rowindex + 1 %>
  <br>
<% end %>